body{
	background: red;
}

header{
	color: darkblue;
	font-family: 'Lobster', cursive;
}

img{
	width: 200px;
}

.img-rotate:hover{
	width:400px;
	transform:rotate(360deg);
	transition: 0.7s;
}